<h1>New User Registration</h1>

<%= form_with model: @user do |form| %>

  <%= label_tag(:username, "Username:") %>
  <%= form.text_field :username %>
  <br />
  <%= label_tag(:email, "Email: ") %>
  <%= form.email_field :email %>
  <br />
  <%= label_tag(:password, "Password: ") %>    
  <%= form.password_field :password %>
  <br />
  <%= form.submit "Create" %>
<% end %>
